<h1>Rafael Gamarra</h1>
<h3>Encarnación. PY (GMT-3) (+595) 986 217132<h3>

<div id="socialMediaContacts">
  <ul>
    <li>
      <img src="<%= asset_path 'gmail.png' %>">
    </li>
    <li></li>
    <li></li>
  </ul>
</div>