<header>
<div id="nameAndAddress">
  <h1>Rafael Gamarra</h1>
  <h3>Encarnación. PY (GMT-3) (+595) 986 217132<h3>
</div>
<div id="socialMediaContacts">
  <ul>
    <li>
      <img src="<%= asset_path 'gmail.png' %>">
      <p>Email</p>
    </li>
    <li>
      <img src="<%= asset_path 'linkedin.png' %>">
      <p>linkedin</p>
    </li>
    <li>
      <img src="<%= asset_path 'github.png' %>">
      <p>github</p>
    </li>
  </ul>
</div>
</header>
<main>
  <section id="Technical Skills">
    <h1>Technical Skills</h1>
  </section>
</main>

